apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
            - containerPort: 443
            - containerPort: 5432
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
            - name: rafaelsraposo.cloudns.be
              mountPath: /etc/ssl/certs
              readOnly: true
      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config
        - name: rafaelsraposo.cloudns.be
          secret:
            secretName: rafaelsraposo.cloudns.be

---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
      nodePort: 30443
    - name: postgresql
      protocol: TCP
      port: 5432
  type: LoadBalancer